<a href="https://colab.research.google.com/github/emilaemil/dataset-data-mining/blob/main/preprocessing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Numpy merupakan library python yang digunakan untuk komputasi matriks. Matplotlib merupakan library python yang digunakan untuk presentasi data berupa grafik atau plot. Pandas adalah library Python yang digunakan untuk memanipulasi dan menganalisis data.

In [3]:
dataset = pd.read_csv("raw-material-properties.csv")

Membaca file CSV bernama "DaftarSaham" menggunakan library pandas. Dataset kemudian dimuat ke dalam variabel 'dataset'.

In [4]:
dataset

    Sample  size1  size2  size3  density1  density2  density3
0   X12558  0.696   2.69   6.38      41.8     17.18      3.90
1   X14728  0.636   2.30   5.14      38.1     12.73      3.89
2   X15468  0.841   2.85   5.20      37.6     13.58      3.98
3   X21364  0.609   2.13   4.62      34.2     11.12      4.02
4   X23671  0.684   2.16   4.87      36.4     12.24      3.92
5   X24055  0.762   2.81   6.36      38.1     13.28      3.89
6   X24905  0.552   2.34   5.03      41.3     16.71      3.86
7   X25917  0.501   2.17   5.09       NaN       NaN       NaN
8   X27871  0.619   2.11   5.13       NaN       NaN       NaN
9   X28690  0.610   2.10   4.18      35.0     12.15      3.86
10  X31385  0.532   2.09   4.93       NaN       NaN       NaN
11  X31813  0.738   2.29   5.47       NaN       NaN       NaN
12  X32807  0.779   2.62   5.59       NaN       NaN       NaN
13  X33943  0.537   2.23   5.41      35.2     11.34      3.99
14  X35035  0.702   2.05   5.10      34.2     10.54      4.02
15  X39223  0.768   2.51   5.09      34.9     12.55      3.90
16  X40503  0.714   2.56   6.03      35.6     12.20      4.02
17  X41400  0.621   2.42   5.10      38.7     14.27      3.98
18  X42988  0.726   2.11   4.69      37.1     13.14      3.98
19  X44749  0.698   2.36   5.40      36.6     12.16      4.01
20  X45295    NaN    NaN    NaN      38.1     13.34      3.89
21  X46965  0.759   2.47   4.83      38.7     14.83      3.89
22  X49666  0.535   2.13   5.23       NaN       NaN       NaN
23  X50678  0.716   2.29   5.45      37.3     13.70      3.92
24  X52894  0.635   2.08   4.94       NaN       NaN       NaN
25  X53925  0.598   2.12   4.69      37.9     13.45      3.78
26  X54254  0.700   2.47   5.22      38.8     14.72      3.92
27  X54272  0.957   2.96   7.37      36.2     13.38      4.20
28  X54394  0.759   2.66   5.36      35.2     12.19      3.98
29  X55408  0.661   2.10   4.27       NaN       NaN       NaN
30  X56952  0.646   2.38   4.51      40.1     15.68      3.86
31  X57095  0.662   2.34   4.71      35.0     12.37      3.90
32  X57128  0.749   2.43   5.16      37.3     13.04      3.92
33  X61870  0.598   2.21   4.90       NaN       NaN       NaN
34  X61888  0.619   2.59   5.81       NaN       NaN       NaN
35  X72736  0.693   2.05   5.02      39.6     15.55      3.94

In [5]:
dataset.head(10)

   Sample  size1  size2  size3  density1  density2  density3
0  X12558  0.696   2.69   6.38      41.8     17.18      3.90
1  X14728  0.636   2.30   5.14      38.1     12.73      3.89
2  X15468  0.841   2.85   5.20      37.6     13.58      3.98
3  X21364  0.609   2.13   4.62      34.2     11.12      4.02
4  X23671  0.684   2.16   4.87      36.4     12.24      3.92
5  X24055  0.762   2.81   6.36      38.1     13.28      3.89
6  X24905  0.552   2.34   5.03      41.3     16.71      3.86
7  X25917  0.501   2.17   5.09       NaN       NaN       NaN
8  X27871  0.619   2.11   5.13       NaN       NaN       NaN
9  X28690  0.610   2.10   4.18      35.0     12.15      3.86

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sample    36 non-null     object
 1   size1     35 non-null     float64
 2   size2     35 non-null     float64
 3   size3     35 non-null     float64
 4   density1  26 non-null     float64
 5   density2  26 non-null     float64
 6   density3  26 non-null     float64
dtypes: float64(6), object(1)
memory usage: 2.1+ KB

In [7]:
dataset.isnull().sum()

Sample       0
size1        1
size2        1
size3        1
density1    10
density2    10
density3    10
dtype: int64

In [8]:
dataset['size1'].value_counts()

0.619    2
0.598    2
0.759    2
0.696    1
0.621    1
0.749    1
0.662    1
0.646    1
0.661    1
0.957    1
0.700    1
0.635    1
0.716    1
0.535    1
0.698    1
0.726    1
0.714    1
0.636    1
0.768    1
0.702    1
0.537    1
0.779    1
0.738    1
0.532    1
0.610    1
0.501    1
0.552    1
0.762    1
0.684    1
0.609    1
0.841    1
0.693    1
Name: size1, dtype: int64

In [9]:
dataset['density1'].value_counts()

38.1    3
34.2    2
35.0    2
35.2    2
38.7    2
37.3    2
41.8    1
36.6    1
40.1    1
36.2    1
38.8    1
37.9    1
35.6    1
37.1    1
34.9    1
41.3    1
36.4    1
37.6    1
39.6    1
Name: density1, dtype: int64

In [10]:
na = dataset.groupby(['Sample','size1','density1'])

In [11]:
na.first()

                       size2  size3  density2  density3
Sample size1 density1
X12558 0.696 41.8       2.69   6.38     17.18      3.90
X14728 0.636 38.1       2.30   5.14     12.73      3.89
X15468 0.841 37.6       2.85   5.20     13.58      3.98
X21364 0.609 34.2       2.13   4.62     11.12      4.02
X23671 0.684 36.4       2.16   4.87     12.24      3.92
X24055 0.762 38.1       2.81   6.36     13.28      3.89
X24905 0.552 41.3       2.34   5.03     16.71      3.86
X28690 0.610 35.0       2.10   4.18     12.15      3.86
X33943 0.537 35.2       2.23   5.41     11.34      3.99
X35035 0.702 34.2       2.05   5.10     10.54      4.02
X39223 0.768 34.9       2.51   5.09     12.55      3.90
X40503 0.714 35.6       2.56   6.03     12.20      4.02
X41400 0.621 38.7       2.42   5.10     14.27      3.98
X42988 0.726 37.1       2.11   4.69     13.14      3.98
X44749 0.698 36.6       2.36   5.40     12.16      4.01
X46965 0.759 38.7       2.47   4.83     14.83      3.89
X50678 0.716 37.3       2.29   5.45     13.70      3.92
X53925 0.598 37.9       2.12   4.69     13.45      3.78
X54254 0.700 38.8       2.47   5.22     14.72      3.92
X54272 0.957 36.2       2.96   7.37     13.38      4.20
X54394 0.759 35.2       2.66   5.36     12.19      3.98
X56952 0.646 40.1       2.38   4.51     15.68      3.86
X57095 0.662 35.0       2.34   4.71     12.37      3.90
X57128 0.749 37.3       2.43   5.16     13.04      3.92
X72736 0.693 39.6       2.05   5.02     15.55      3.94